.con {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100vh;
}
.calc {
  height: 50vh;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 4rem);
}
.null {
  grid-column-start: 1;
  grid-column-end: 3;
}
.display {
  border: 1px solid black;
  grid-column: 1/5;
}
